@black: #000;
@white: #fff;
@orange: #ef4601;
@gray: #a3a3a3;
@grayCart: #9c9c9c;
@grayLight: #757575;
@grayLanguage: #7c7c7c;
@blue: #5271b3;
@blueLight: #4268b8;
@blueArrow: #305094;
@titleSlide: #2e2e2e;
@green: #659a19;
@darkGreen: #4e7812;
@orangeGame: #f39400;
@blueGame: #325194;
@addedBorder: #cccccc;
@red: #e00c2a;
@darkRed: #9c2335;
@submitHover: #ef7c01;
@borderCatalogItem: #dbdbdb;
@introtext: #626569;
@countButton: #c4344d;
@countButtonHover: #b53148;
@galleryBack: #dedede;
@supCatalog: #9a9a9a;
@developerBack: #1a1a1a;
@developer: #aaaaaa;
@developerPhone: #202020;
@submitBrown: #35260a;
@countOrange: #ffaa06;
@countBlue: #3a60b2;
@countText: #2c2c2c;
@crumbHome: #9da1a8;
@crumbs: #848e9f;
@textInner: #595959;
@addresColor: #262626;
@colorH3: #2a2d34;
@boldText: #303030;
@pink: #f6365f;
@closeHover: #6a6a6a;
@questCloud: #8a949b;
@questName: #3c4f5e;
@questDate: #627485;
@answerBack: #eee;
@labelQuestForm: #5a5a62;
@inputBorder: #dadada;
@noActiveStep: #bbbec1;
@thead: #f4f4f4;
@tdBorder: #d7d7d7;
@theadColor: #a2a5a9;
@cartCount: #b7b7b7;
@cartButton: #484848;
@labelCart: #282828;
@couponeInput: #d6cec4;
@pForm: #5c5b5b;
@newUser: #4778bb;
@newUserHover: #365f97;
@linkForm: #8a8a8a;
@lightGreen: #87ba3e;
@refresh: #e1e2e5;
@refreshHover: #c4c5c7;
@darkSubmit: #a0263b;
@networks: #414141;
@facebook: #3b5998;
@linkedin: #007ab9;
@tableBorder: #cecdcd;
@thead2: #5c5c5c;
@radio: #707070;
@placeholder: #828282;
@hoverTopArrow: #1c1f23;
@calculate-work: #F89305;
@calculate-home: #3AAADC;