* {
	margin: 0;
	padding: 0;
}

body, html {
	font: normal 10px @regular;
}

body {
	position: relative;
}

.clear {
	clear: both;
}

a,
input,
button {
	outline: none !important;
}

h1 {
	margin-top: 14px;
	font-size: 30px;
	font-family: @bold;
	color: @titleSlide;
	text-transform: uppercase;
}

h2 {
	font-size: 18px;
	font-family: @bold;
	color: @green;
	text-transform: uppercase;
}

h3 {
	.h3();
}

.bold {
	color: @boldText;
	font-family: @semibold;
}

.bold-gray {
	font-family: @semibold;
}

.color {
	color: @pink;
	font-family: @bold;
}

.extra {
	font-family: @bold;
}

.float-left {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.float-right {
	float: right;
}

a {
	font-family: @semibold;
	color: @blueArrow;
}

html {

	&[lang='de-de'] {

		@media (max-width: 767px) {

			& {
				max-width: 215px;
			}
		}
	}

	&.edge {

		.logo {

			&__text {

				p {

					&:first-child {
						margin-top: 10px;
						line-height: 1rem !important;
					}

					sup {
						left: 11.5rem !important;
						top: -3rem !important;
					}

					&:last-child {
						top: -10px !important;
					}
				}
			}
		}
	}

	&.ie {

		.logo {

			&__text {

				p {

					&:first-child {
						margin-top: 10px;
						line-height: 1rem !important;
					}

					sup {
						left: 11.5rem !important;
						top: -3rem !important;
					}

					&:last-child {
						top: -10px !important;
					}
				}
			}
		}
	}

	&.chrome {

		.cart-footer {
			min-width: 516px;
		}
	}

	&.ios {

		.logo {

			&__text {

				p {

					&:first-child {
						line-height: 1rem !important;
					}

					sup {
						left: 11.5rem !important;
						top: -3rem !important;
					}
				}
			}
		}

		.cart-user-data {

			label {
				width: 14%;
			}
		}
	}
}

header {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 69px;
	box-sizing: border-box;
	background-color: @black;

	&.open--menu {

		.cart-header {
			display: block;
		}
	}

	&.scroll--header {
		position: fixed;
		z-index: 102;
		left: 0;
		top: 0;
		width: 100%;
	}

	.burger {
		position: relative;
		z-index: 4;
		float: left;
		width: 26px;
		padding-top: 26px;

		button {
			position: relative;
			display: block;
			width: 26px;
			height: 16px;
			appearance: none;
			box-shadow: none;
			border-radius: 0;
			border: none;
			cursor: pointer;
			background-color: transparent;
		}

		span {
			display: block;
			position: absolute;
			top: 7px;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: @white;
			transition: background 300ms linear;

			&::before,
			&::after {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: @white;
				content: "";
				transition-duration: 300ms, 300ms;
				transition-delay: 300ms, 0s;
			}

			&::before {
				top: -5px;
				transition-property: top, transform, background;
			}

			&::after {
				bottom: -5px;
				transition-property: bottom, transform, background;
			}
		}

		&.open {

			span {
				background-color: transparent !important;

				&::before,
				&::after {
					transition-delay: 0s, 300ms;
				}

				&::before {
					top: 0;
					transform: rotate(45deg);
				}

				&::after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}


	}

	&::after {
		display: block;
		clear: both;
		content: '';
	}

	.logo{
		float: left;
		margin-left: 2%;
		padding-top: 5px;
		width: 180px;
		font-size: 0;

		&::after {
			display: block;
			content: '';
			clear: both;
		}

		@media (max-width: 767px) {

			& {
				position: relative;
				z-index: 4;
				float: none;
				margin: 0 auto;
			}
		}

		img {
			display: block;
			float: left;
			vertical-align: middle;
			width: 45px;
			height: auto;
		}

		.logo__text {
			margin-top: 9px;
			float: left;
			margin-left: 7%;
			width: calc(~'100% - 60px');

			p {
				margin-bottom: 0;

				&:first-child {
					color: @white;
					font: 3.5rem/2.8rem @light;
					text-transform: uppercase;
					letter-spacing: .6px;
					word-spacing: -5px;

					span {
						font-family: @bold;
						display: inline;
					}

					sup {
						font-family: @semibold;
						font-size: .8rem;
						top: -2.55rem;
						left: .45rem;
					}
				}

				&:last-child {
					position: relative;
					top: 5px;
					left: 10px;
					font: .9rem/.9rem @semibold;
					color: @gray;

				}
			}
		}
	}

	.networks {
		margin-right: 2%;
		margin-top: 21px;
		display: none;
		float: right;

		@media (min-width: 768px) {

			& {
				display: block;
			}
		}

		a {
			text-decoration: none;
			outline: none;
		}

		svg {
			width: 33px;
			height: 33px;
			transition: fill 300ms linear;

			&.facebook {
				margin-right: 10px;
				fill: @networks;

					&:hover {
						fill: @facebook;
					}
			}

			&.linkedin {
				fill: @networks;

					&:hover {
						fill: @linkedin;
					}
			}
		}
	}

	.cart-header {
		float: right;
		padding-top: 21px;
		/*width: 110px;*/
		//width: 10%;
		font-size: 0;

		/*@media (min-width: 992px) and (max-width: 1199px) {

			& {
				width: 12%;
			}
		}

		@media (min-width: 768px) and (max-width: 991px) {

			& {
				width: 15%;
			}
		}

*/
		@media (max-width: 767px) {

			& {
				position: relative;
				z-index: 4;
				float: none;
				display: none;
				margin: 0 auto;
				width: 178px;
			}
		}

		.cart {
			margin-right: 8px;
			display: inline-block;
			vertical-align: middle;
			width: 22px;
			height: 28px;
			fill: @white;
			transition: fill 300ms linear;
		}

		&__data {
			display: inline-block;
			vertical-align: middle;
		}

		.count {
			margin-bottom: 0;
			font: 1.3rem/normal @semibold;
			text-transform: uppercase;
			color: @grayCart;
			transition: color 300ms linear;

			span {
				color: @white;
				text-transform: none;
				transition: color 300ms linear;
			}

			@media (max-width: 767px) {

				& {
					display: inline-block;
				}
			}
		}

		.sum {
			margin-bottom: 0;
			font: 1.3rem/normal @semibold;
			color: @white;
			transition: color 300ms linear;

			@media (max-width: 767px) {

				& {
					display: inline-block;
				}
			}
		}

		&:hover {

			.cart {
				fill: @orange;
			}

			.count,
			.sum {
				color: @orange;

				span {
					color: inherit;
				}
			}
		}
	}

	.language-link {
		margin-right: 47px;
		padding-top: 30px;
		width: 200px;
		float: right;

		a {
			font: 13px/normal @semibold;
			color: @grayLanguage;
			transition-property: color;
			transition-duration: 300ms;

			&:not(:last-child) {
				margin-right: 12%;
			}

			&.active {
				color: @white;
			}

			&:hover {
				text-decoration: none;
				color: @orange;
			}
		}
	}

	.menu {
		position: absolute;
		z-index: 3;
		left: 0;
		top: 0;
		padding-top: 80px;
		padding-left: 36px;
		width: 600px;
		opacity: 0;
		visibility: hidden;
		background-color: @black;
		box-sizing: border-box;
		transition-property: opacity, visibility;
		transition-duration: 300ms, 300ms;
		transition-timing-function: linear;

		@media (max-width: 767px) {
			& {
				left: -20px;
				padding-bottom: 40px;
				padding-top: 130px;
				width: calc(~'100% + 20px');
			}
		}

		&.open--menu {
			opacity: 1;
			visibility: visible;
		}

		&__logo {
			font-size: 0;

			img {
				display: inline-block;
				vertical-align: middle;
				width: 113px;
			}

			&__text {
				position: relative;
				margin-left: 30px;
				display: inline-block;
				vertical-align: middle;
				width: 215px;

				p {
					font: 6.3rem/5rem @light;
					color: @white;
					text-transform: uppercase;
					margin-bottom: 0;

					&:last-child {
						margin-top: 10px;
						margin-left: 15px;
						font: 1.6rem/1.6rem @semibold;
						color: @blue;
						text-transform: none;
					}

					&:first-child {
						letter-spacing: .6px;
						word-spacing: -8px;
					}
				}

				sup {
					position: absolute;
					font-family: @semibold;
					font-size: .8rem;
					right: 0;
					top: 0;
					color: @white;
				}

				span {
					font-family: @semibold;
				}
			}

			&__komplex {
				margin-left: 19px;
				display: inline-block;
				vertical-align: middle;
				font: 3rem/2.4rem @bold;
				color: @blue;
				text-transform: uppercase;

				span {
					display: block;
				}
			}
		}

		&__list {
			margin-top: 21px;
			margin-left: 157px;

			@media (max-width: 767px) {

				& {
					max-width: 197px;
					width: 100%;
					margin: 0 auto;
				}
			}

			ul {

				li {
					list-style-type: none;

					a {
						font-size: 1.6em;
						line-height: 2.3em;
						color: @white;
						text-transform: uppercase;
						text-decoration: none;
						outline: none;
						transition: color 300ms linear;

						&:hover {
							color: @orange;
						}
					}
				}
			}

			&__register {
				margin-top: 31px;

				.login {
					position: absolute;
					left: 0;
					top: 0;
					width: 15px;
					height: 17px;
					fill: @white;
					transition: fill 500ms linear;
				}

				.login-link {
					position: relative;
					padding-left: 24px;
					font-size: 1.4em;
					color: @white;
					text-decoration: none;
					transition: color 500ms linear;

					&:hover {
						color: @orange;

						.login {
							fill: @orange;
						}
					}

					@media (max-width: 767px) {

						& {
							margin-bottom: 22px;
							display: block;
						}
					}
				}

				.ask-link {
					position: relative;
					margin-left: 47px;
					font: 1.4em @semibold;
					color: @white;
					text-decoration: none;
					border-radius: 11px;
					padding: 2px 11px 0 30px;
					background-color: @orange;
					transition: background 300ms linear;

					svg {
						position: absolute;
						left: 6px;
						top: calc(~'50% - 8px');
						width: 23px;
						height: 16px;
						fill: @white;
					}

					&:hover {
						background-color: @submitHover;
					}

					@media (max-width: 767px) {

						& {
							margin-left: 0;
						}
					}
				}
			}

			&__phone {
				margin-top: 37px;

				a {
					position: relative;
					padding-left: 33px;
					font: 2em @semibold;
					color: @white;
					text-decoration: none;
				}

				.telephone {
					position: absolute;
					left: 0;
					top: 0;
					width: 25px;
					height: 25px;
					fill: @blue;
				}
			}

			&__networks {
				display: none;
				margin-top: 30px;

				@media (max-width: 767px) {

					& {
						display: block;
					}
				}

				a {
					text-decoration: none;
					outline: none;
				}

				svg {
					width: 33px;
					height: 33px;
					transition: fill 300ms linear;

					&.facebook {
						margin-right: 10px;
						fill: @networks;

						&:hover {
							fill: @facebook;
						}
					}

					&.linkedin {
						fill: @networks;

						&:hover {
							fill: @linkedin;
						}
					}
				}
			}
		}
	}
}

.content {

	.top-slider {

		.slick-arrow {
			position: absolute;
			z-index: 2;
			top: 0;
			width: 13%;
			min-width: 50px;
			height: 100%;
			background-color: @black;
			background-image: url(../img/slide-top-arrow.svg);
			background-size: 35px 64px;
			background-position: center;
			background-repeat: no-repeat;
			border: none;
			transition: background-color 300ms linear;

			&:hover {
				background-color: @hoverTopArrow;
			}
		}

		.slick-list,
		.slick-track {
			height: 100%;
		}

		.slick-next {
			right: 0;
			transform: rotate(180deg);
		}

		.slick-prev {
			left: 0;
		}

		.slide {
			height: 100%;
			position: relative;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;

			img {
				width: auto;
				height: 100%;
				margin: 0 auto;
			}

			.container {
				position: absolute;
				top: 0;
				left: calc(~'50% - 585px');
				height: 100%;

              @media (min-width: 992px) and (max-width: 1199px) {

                & {
                  left: calc(~'50% - 485px');
                  max-width: 970px;
                }
              }

              @media (min-width: 768px) and (max-width: 991px) {

                & {
                  left: calc(~'50% - 375px');
                  max-width: 750px;
                }
              }

              @media (max-width: 767px) {

                & {
                  left: 0;
                  max-width: 767px;
                  width: 100%;
                }
              }

			}
		}

		.cloud {
			position: absolute;
			bottom: 20%;
			left: 0;
			visibility: hidden;
			width: 100%;
			font: 1.4em/1.6em Comic Sans MS, Comoc Sans, Chalkboard, "ChalkboardSE-Regular", sans-serif;
			background-image: url(../img/top-slider-cloud.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			//padding: 102px 24px 55px 36px;
			padding: 102px 15% 55px 15%;

            @media (min-width: 768px) and (max-width: 1199px) {

              & {
                bottom: -10px;
                padding: 102px 7% 55px 7%;
                background-image: url(../img/top-slider-cloud-tablet.svg);
              }
            }

            @media (min-width: 571px) and (max-width: 767px){

              & {
                bottom: -10px;
                width: 74%;
                left: 13%;
                font-size: 1em;
                line-height: 2.5em;
                background-image: url(../img/top-slider-cloud-phone.svg);
              }
            }

            @media (max-width: 570px) {

              & {
                bottom: 0;
                background-size: cover;
                padding-top: 115px;
                padding-bottom: 20px;
                padding-left: 24px;
                padding-right: 36px;
                width: 74%;
                left: 13%;
                font-size: 1em;
                line-height: 2.5em;
              }
            }

			&.animated {
				visibility: visible;
			}

			p {
				margin-bottom: 0;

				&.last {
					text-align: right;
					background-image: url(../img/girl-ico.svg);
					background-size: 21px 24px;
					background-position: right center;
					background-repeat: no-repeat;
					padding-right: 29px;
				}

				&.first {
					text-align: left;
					background-image: url(../img/login.svg);
					background-size: 21px 24px;
					background-position: left center;
					background-repeat: no-repeat;
					padding-left: 29px;
				}
			}

		}
	}

    .man-slider {
		margin-top: 13px;

		.static-image {
			position: relative;

			img {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;

				&.sphere {
					top: 18%;
					//width: 198px;
				}

				&.plant {
					top: -39.5%;
					left: -5%;
					//width: 169.68px;
				}


				.keyframes(flyLeft; {
					20% {
						left: -10%;
						top: -12%;
					}

					60% {
						left: -16%;
					}

					100% {
						transform: rotate(360deg);
						top: 80%;
						left: -16%;
					}
				});

				.keyframes(flyRight; {
					20% {
						right: -10%;
						top: -12%;
					}

					60% {
						right: -16%;
					}

					100% {
						transform: rotate(360deg);
						top: 80%;
						right: -16%;
					}
				});

				&.yellow-capsule {
					z-index: 0;
					left: -23%;
					top: -19%;
					transform: rotate(26deg);
					visibility: hidden;

					&.animate {
						visibility: visible;
						animation-name: flyLeft;
						animation-duration: 1500ms;
						animation-timing-function: linear;
						animation-fill-mode: forwards;
					}

					&.delay-1 {
						animation-delay: 200ms;
					}

					&.delay-2 {
						animation-delay: 500ms;
						animation-duration: 1200ms;
					}

					&.delay-3 {
						animation-delay: 800ms;
						animation-duration: 1100ms;
					}

					&.delay-4 {
						animation-delay: 1200ms;
						animation-duration: 1300ms;
					}

					&.delay-5 {
						animation-delay: 1500ms;
					}
				}

				&.blue-capsule {
					z-index: 0;
					right: -23%;
					top: -19%;
					transform: rotate(-26deg);
					visibility: hidden;

					&.animate {
						visibility: visible;
						animation-name: flyRight;
						animation-duration: 1500ms;
						animation-timing-function: linear;
						animation-fill-mode: forwards;
					}

					&.delay-1 {
						animation-delay: 200ms;
					}

					&.delay-2 {
						animation-delay: 500ms;
						animation-duration: 1200ms;
					}

					&.delay-3 {
						animation-delay: 800ms;
						animation-duration: 1100ms;
					}

					&.delay-4 {
						animation-delay: 1200ms;
						animation-duration: 1300ms;
					}

					&.delay-5 {
						animation-delay: 2000ms;
					}
				}

			}

			img.capsule {
				position: absolute;
				z-index: 1;
				top: 0;
				bottom: 0;
				margin: auto;
				visibility: hidden;

				.keyframes(topCapsuleLeft; {
					100% {
						top: -36%;
						//top: -177px;
						transform: rotate(26deg);
						left: calc(~'-20% - 60px');
					}
				});

				.keyframes(topCapsuleRight; {
					100% {
						top: -36%;
						//top: -177px;
						transform: rotate(-26deg);
						right: calc(~'-20% - 60px');
					}
				});

				&.right {
					right: -20%;
					left: 7%;

					&.top-capsule {
						animation-name: topCapsuleRight;
						animation-duration: 400ms;
						animation-timing-function: linear;
						animation-fill-mode: forwards;
					}
				}

				&.left {
					left: -20%;
					right: 7%;

					&.top-capsule {
						animation-name: topCapsuleLeft;
						animation-duration: 400ms;
						animation-timing-function: linear;
						animation-fill-mode: forwards;
					}
				}

				&.animated {
					visibility: visible;
				}
			}

			img.bottle {

				visibility: hidden;

				&.right {
					top: auto;
					right: -15%;
					animation-duration: 700ms;
				}

				&.left {
					top: auto;
					left: -15%;
					animation-duration: 500ms;
				}

				&.animated {
					visibility: visible;
				}
			}
		}

		.counter-yellow {
			position: absolute;
			left:0;
			top: auto;
			right: auto;
			bottom: 0;
			margin: auto;
			width: 30%;
			text-align: right;

		}

		.counter {
			visibility: hidden;

			&.animated {
				visibility: visible;
			}

			 span {
				 font-family: @extra;
				 font-size: 5em;
				 color: @countOrange;
			 }

			p {
				font-family: @regular;
				font-size: 2.4em;
				text-transform: uppercase;
				color: @countText;
			}
		}

		.counter-blue {
			position: absolute;
			left:auto;
			top: auto;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 30%;
			text-align: left;

			span {
				color: @countBlue;
			}
		}

		.wrapper-animate {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			img {
				position: absolute;
				left: 0;
				top: 18%;
				right: 0;
				bottom: 0;
				margin: auto;

				&:not(.step-4) {
					opacity: 0;
				}
			}

			.keyframes(stepOne; {
				50% {
					opacity: 1;
				}

				100% {
					width: 481.25px; // 125%
					opacity: 0;
					transform: rotate(0);
				}
			});

			.keyframes(stepTwo; {
				90% {
					opacity: 1;
				}

				100% {
					width: 315px; // 100%
					opacity: 0;
				}
			});

			.keyframes(stepThree; {
				90% {
					opacity: 1;
				}

				100% {
					width: 765px; //125%
					opacity: 0;
					transform: rotate(0deg);
				}
			});

			.keyframes(stepFour; {
				100% {
					width: 397px; //100%
					opacity: 1;
					transform: rotate(0deg);
				}
			});

			.step-0 {
				width: 161.7px;
				opacity: 0;
				transform: rotate(-190deg);
				animation-name: stepOne;
				animation-duration: 600ms;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			.step-1 {
				width: 31px;
				opacity: 0;
				animation-name: stepTwo;
				animation-duration: 200ms;
				animation-delay: 200ms;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			.step-2 {
				width: 61.2px;
				opacity: 0;
				transform: rotate(-128deg);
				animation-name: stepThree;
				animation-duration: 600ms;
				animation-delay: 400ms;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			.step-3 {
				width: 166.74px;
				opacity: 0;
				transform: rotate(-190deg);
				animation-name: stepFour;
				animation-duration: 500ms;
				animation-delay: 800ms;
				animation-timing-function: linear;
				animation-fill-mode: forwards;
			}

			.step-4 {
				top: -39.5%;
				left: -5%;
				animation-duration: 450ms;
				animation-delay: 300ms;
				visibility: hidden;

				&.animated {
					visibility: visible;
				}
			}
		}

      .slick-arrow {
        position: absolute;
        z-index: 2;
	  top: calc(~'50% - 34.5px');
        width: 69px;
        height: 69px;
        background-color: @blueArrow;
        background-image: url(../img/slider-arrow.svg);
        background-size: 36px 31px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
		  transition: background 300ms linear;

		  &:hover {
			  background-color: @blueLight;
		  }
      }

      .slick-next-man {
        right: 0;
        transform: rotate(180deg);
      }

      .slick-prev-man {
        left: 0;
      }

      .slider-man {

        &__desc {
          position: relative;

			.big {
				//width: 100%;
				opacity: 1;
				transition-property: opacity, visibility;
				transition-duration: 500ms, 500ms;
				transition-delay: 500ms, 500ms;
				transition-timing-function: linear;

				&.no--visible {
					opacity: 0;
					visibility: hidden;
				}
			}

          .hand {
            position: absolute;
            z-index: 2;
            left: calc(~'50% - 212px');
            bottom: 100px;
            transition-property: opacity, visibility;
            transition-duration: 500ms, 500ms;
            transition-delay: 500ms, 500ms;
            transition-timing-function: linear;

            &.no--visible {
              opacity: 0;
              visibility: hidden;
            }
          }

          .sphere {
            position: absolute;
            z-index: 1;
            bottom: 140px;
          }

          .plant {
            left: 340px;
            opacity: 1;
            visibility: visible;
            transition-property: left, opacity, visibility;
            transition-duration: 450ms, 450ms, 450ms;
            transition-delay: 0s, 300ms, 300ms;
            transition-timing-function: linear;

            &.plant--move {
              left: calc(~'50% - 220px');
              opacity: 0;
              visibility: hidden;
            }
          }

          .science {
            right: 280px;
            opacity: 1;
            visibility: visible;
            transition-property: right, opacity, visibility;
            transition-duration: 450ms, 450ms, 450ms;
            transition-delay: 0s, 300ms, 300ms;
            transition-timing-function: linear;

            &.science--move {
              right: calc(~'50% - 180px');
              opacity: 0;
              visibility: hidden;
            }
          }

          &__text {
            position: absolute;
            z-index: -1;
            width: 50%;
            visibility: hidden;


            &.animated {
              visibility: visible;
            }

			  &.visible {
				  visibility: visible;
			  }

		  &.delay-300 {
			  animation-delay: 0ms !important;
			  animation-duration: 500ms !important;
		  }

            &.left {
              top: 110px;
              left: 15px;
            }

            &.right {
              top: 160px;
              right: 15px;
				width: 40%;
              text-align: right;

              .inner-text {
                width: 100%;
                padding-left: 43%;
              }
            }

            .title {
              margin-bottom: 0;
              font: 3em @bold;
              text-transform: uppercase;
              color: @titleSlide;
            }

            .subtitle {
              margin-top: -5px;
              margin-bottom: 0;
              font: 1.4em @regular;
              color: @titleSlide;
              letter-spacing: .2px;
            }

            .color {
              margin-bottom: 0;
              margin-left: -15px;
              margin-top: 18px;
              padding: 10px;
              padding-left: 18px;
              font: 1.9em @bold;
              color: @white;
              letter-spacing: .1px;

              &.green {
                background-color: @green;
              }

              &.blue {
                background-color: @blueArrow;
              }
            }

            .inner-text {
              margin-top: 18px;
              margin-bottom: 0;
              width: 57%;
              font: 1.4em/2.1em @regular;
              color: @grayLight;
            }
          }
        }
      }
    }

    #games {
		margin-top: 20px;

		.calculate {
			text-align: center;

			a {
				margin-top: 10px;
				padding: 9px 57px 9px 57px;
				display: inline-block;
				font: 15px @semibold;
				color: @white;
				text-transform: uppercase;
				border: none;
				text-decoration: none;
				border-radius: 3px;
				transition: background 300ms linear;

				@media (max-width: 1199px) {

					& {
						margin-bottom: 20px;
						margin-top: 0;
					}
				}

				&.work {
					background-color: @calculate-work;
				}

				&.home {
					background-color: @calculate-home;
				}
			}
		}

      @media (max-width: 767px) {

        & {
          position: relative;

          &::after {
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 84px;
            background-color: @galleryBack;
            content: '';
          }
        }
      }
    }

	.games {
		position: relative;
		padding-top: 47px;
		padding-bottom: 41px;

        @media (max-width: 767px) {

          & {
            padding-bottom: 17px;
          }
        }

		@media (max-width: 1199px) {

			& {
				padding-top: 0;
			}
		}

		.gray-line {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			content: '';

			@media (max-width: 1199px) {

				& {
					height: 116px;
					background-color: @galleryBack;
				}
			}

			@media (max-width: 973px) {

				& {
					height: 159px;
				}
			}

			@media (max-width: 363px) {

				& {
					height: 202px;
				}
			}


		}

		&::before {
			position: absolute;
			z-index: -1;
			left: 0;
			top: 0;
			display: block;
			width: 50%;
			height: 100%;
			background-image: url(../img/orange-part.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}

		&::after {
			position: absolute;
			z-index: -1;
			right: 0;
			top: 0;
			display: block;
			width: 50%;
			height: 100%;
			background-image: url(../img/blue-part.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			content: '';
		}

		@media (max-width: 1199px) {

			& {

				&::before {
					top: 116px;
					width: 100%;
					height: calc(~'50% - 116px');
				}

				&::after {
					top: 50%;
					width: 100%;
					height: 50%;
				}
			}
		}

		@media (max-width: 673px) {

			& {

				&::before {
					top: 159px;
					height: calc(~'50% - 159px');
				}
			}

		}

        .title-games {
          margin-bottom: 0;
          padding-left: 40px;
          font: 3em @bold;
          color: @white;
          text-transform: uppercase;
          text-align: center;

          @media (max-width: 1199px) {

            & {
              position: relative;
              padding-left: 0;
              padding-top: 38px;
              padding-bottom: 24px;
              color: @titleSlide;
              background-color: @galleryBack;
            }
          }

          @media (max-width: 767px) {

            & {
              padding-top: 70px;
            }
          }
        }

      .hand-ico {
        margin-right: 10px;
        margin-left: 10px;
        width: 48px;
        height: 54px;
        fill: @white;
        display: inline;
        vertical-align: middle;

        @media (max-width: 1199px) {

          & {
            fill: @titleSlide;
          }
        }

        @media (max-width: 767px) {

          & {
            position: absolute;
            left: calc(~'50% - 19px');
            top: 23px;
            width: 38px;
            height: 42px;
          }
        }
      }

		&__tap-block {
			margin-top: 31px;

			.title {
				font: 3em @light;
				color: @white;
				text-transform: uppercase;
			}

			&__at-work {
				.tap-block(@orangeGame, 155px);
			}

			&__at-home {
				.tap-block(@blueGame, 130px);

				@media (max-width: 1199px) {

					& {
						margin-top: 57px;
					}
				}
			}

			&__submit {
				margin-top: 30px;
				text-align: center;

              label {
                position: relative;

                &::before {
                  position: absolute;
                  left: 49px;
                  top: 10px;
                  display: block;
                  width: 19px;
                  height: 19px;
                  background-image: url(../img/submit-ico.svg);
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  content: '';
                  transform: rotate(90deg);

                  @media (max-width: 767px) {

                    & {
                      background-image: url(../img/submit-ico-brown.svg);
                    }
                  }
                }
              }

				input[type=submit] {
					padding: 9px 57px 9px 75px;
					font: 15px @semibold;
					color: @white;
					text-transform: uppercase;
					background-color: @orange;
					border: none;
					border-radius: 3px;
					transition: background 300ms linear;

					&:hover {
						background-color: @submitHover;
					}

                  @media (max-width: 767px) {

                    & {
                      color: @submitBrown;
                    }
                  }
				}
			}

          .list-added {
            margin-top: 33px;

            @media (max-width: 1199px) {

              & {
                margin-top: 29px;
              }
            }

            .title-added {
				padding: 0;
              font: 1.6em @semibold;
              color: @white;
				margin-bottom: 0;
              text-align: center;
				opacity: 0;
				line-height: 0;
				visibility: hidden;
				transition-property: visibility, opacity, height;
				transition-timing-function: linear;
				transition-duration: 300ms, 300ms, 100ms;

				&.visible {
					opacity: 1;
					visibility: visible;
					line-height: normal;
				}

				&.alert {
					margin-bottom: 0;
					height: 0;

					&.open {
						opacity: 1;
						visibility: visible;
						line-height: normal;
						height: auto;
					}
				}

              @media (max-width: 1199px) {

                & {
                  margin-bottom: 20px;
                }
              }
            }

            &__wrapper {
              margin-top: 20px;
              padding-left: 48px;
              padding-right: 48px;

              @media (max-width: 1199px) {
                & {
                  margin: 0 auto 53px;
                  //padding-right: 37px;
                  max-width: 570px;
                  width: 100%;
                }
              }

              @media (max-width: 767px) {

                & {
                  padding-left: 0;
                  padding-right: 0;
                  max-width: 529px;
                }
              }

              &__item {
                position: relative;
                float: left;
                width: 80px;
                height: 80px;
                background-color: @white;
                border: 1px @addedBorder solid;
                border-radius: 3px;
                box-shadow: 5px 5px 0 0 rgba(0, 0, 0, .18);

                @media (max-width: 767px) {

                  & {
                    margin-bottom: 30px;
                  }
                }

                @media (min-width: 461px) and  (max-width: 570px) {

                  & {
                    width: 20%;
                    margin-right: 6.5% !important;

                    &:nth-of-type(4) {
                      margin-right: 0 !important;
                    }

                    &:last-child {
                      margin-left: 40%;
                    }
                  }
                }

                @media (max-width: 460px) and (min-width: 381px){

                  & {
                    width: 27%;
                    margin-right: 9.5% !important;

                    &:last-child {
                      margin-left: 0;
                      margin-right: 0 !important;
                    }

                    &:nth-of-type(3) {
                      margin-right: 0 !important;
                    }

                    &:nth-last-of-type(2) {
                      margin-left: 18%;
                    }
                  }
                }

                @media (max-width: 380px) {

                  & {
                    width: 43%;
                    margin-right: 14% !important;

                    &:nth-of-type(2n) {
                      margin-right: 0 !important;
                    }

                    &:last-child {
                      margin-left: 28%;
                    }

                    &:nth-last-of-type(2) {
                      margin-left: 0;
                    }
                  }
                }

                &:not(:last-child) {
                  margin-right: 14px;

                  @media (max-width: 1199px) and (min-width: 570px) {

                    & {
                      margin-right: 18px;
                    }
                  }

                  @media (max-width: 767px) and (min-width: 570px) {

                    & {
                      margin-right: 32px;
                    }
                  }
                }


                img {
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  height: 60px;
                  width: auto;
                  max-width: 70px;
                  opacity: 0;
                  visibility: hidden;
                  transition-property: opacity, visibility;
                  transition-duration: 300ms, 300ms;
                  transition-timing-function: linear;
                }

                a {
                  position: absolute;
                  right: -10px;
                  top: -10px;
                  width: 20px;
                  height: 20px;
                  font: 14px @extra;
                  text-decoration: none;
                  opacity: 0;
                  visibility: hidden;
                  text-align: center;
                  outline: none;
                  color: @white;
                  border-radius: 50%;
                  background-color: @red;
                  border: none;
                  transition-property: opacity, visibility, background;
                  transition-duration: 300ms, 300ms, 300ms;
                  transition-timing-function: linear;

                  span {
                    position: relative;
                    top: -1px;
                  }

                  &:hover {
                    background-color: @darkRed;
                  }

                  @media (max-width: 767px) {

                    & {
                      width: 30px;
                      height: 30px;
                      font-size: 17px;

                      span {
                        top: 2px;
                      }
                    }
                  }
                }

                &.free--item {

                  a {
                    visibility: visible;
                    opacity: 1;
                  }

                  img {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }

              &::after {
                display: block;
                clear: both;
                content: '';
              }
            }
          }
		}
	}

	.catalog {
		position: relative;
		margin-top: 40px;

		.title-wrapper {
			text-align: center;

			.title-catalog {
				margin-bottom: 0;
				font: 9em/normal @light;
				color: @black;
				text-transform: uppercase;
				letter-spacing: .6px;
				word-spacing: -8px;

				span {
					font-family: @semibold;
				}

				sup {
					top: -2.5em;
					font-size: 2.5rem;
					color: @supCatalog;
				}

				@media (max-width: 767px) {

					& {
						font-size: 7.2em;
					}
				}
			}

			.subtitle-catalog {
				margin-top: -28px;
				margin-bottom: 0;
				font: 2.4em/2.4em @bold;
				color: @blueArrow;
				text-transform: uppercase;
			}
		}

		&__list {
			margin-top: 10px;

			.col-md-6 {
				position: static;
			}

			&__item {
				padding: 25px 15px 20px;
				text-align: center;
				border: 1px @borderCatalogItem solid;

				img {
					max-width: 300px;
					width: 100%;
					height: auto;
				}

				.title-good {
					font: 3em @bold;
					color: @titleSlide;
					text-decoration: none;
					text-transform: uppercase;
					outline: none;

					span {
						font-family: @light;
						color: @green;
					}
				}

				.subtitle-good {
					margin-bottom: 0;
					margin-top: 11px;
					font: 3em @light;
					color: @titleSlide;
				}

				&__description {

					&__introtext {
						margin-top: 14px;
						font: 1.4em/1.8em @regular;
						color: @introtext;
					}

					&__buttons {
						max-width: 300px;
						width: 100%;
						margin: 30px auto 27px;

						.counter-good {
							width: 105px;
							float: left;

							* {
								float: left;
							}

							&::after {
								display: block;
								clear: both;
								content: '';
							}
						}

						.add-good {
							width: 145px;
							float: right;
						}

						form {

							&::after {
								display: block;
								clear: both;
								content: '';
							}
						}

						input {

							&[type=text] {
								width: 41px;
								height: 38px;
								font: 1.8em @semibold;
								border: none;
								text-align: center;
								color: @white;
								background-color: @countButton;
								outline: none;
								border-radius: 0;
							}

							&[type=submit] {
								float: right;
								padding-left: 40px;
								width: 145px;
								height: 38px;
								font-size: 1.5em;
								color: @white;
								text-transform: uppercase;
								background-color: @blueArrow;
								border-radius: 3px;
								border: none;
								background-image: url(../img/cart.svg);
								background-size: 18px 24px;
								background-repeat: no-repeat;
								background-position: 9px 7px;
								box-sizing: border-box;
								transition: background 300ms linear;

								&:hover {
									background-color: @blueLight;
								}
							}
						}

						button {
							width: 32px;
							height: 38px;
							font: 1.8em @semibold;
							color: @white;
							background-color: @countButton;
							border: none;
							transition: background 300ms linear;

							&:hover {
								background-color: @countButtonHover;
							}

							&.decrement {
								border-radius: 3px 0 0 3px;
							}

							&.increment {
								border-radius: 0 3px 3px 0;
							}
						}
					}
				}

				a.composition {
					font: 14px/24px @regular;
					color: @introtext;
					text-decoration: none;
					transition: color 300ms linear;

						&:hover {
							color: @blueLight;
						}
				}
			}
		}

		&__cart-link {
			margin-top: 36px;
			text-align: center;

			a {
				padding: 8px 15px;
				font: 1.5em @bold;
				color: @white;
				text-transform: uppercase;
				text-decoration: none;
				background-color: @green;
				border-radius: 3px;
				transition: background 300ms linear;

				&:hover {
					background-color: @darkGreen;
				}
			}
		}
	}

	.gallery {
		position: relative;
		/*margin-top: 37px;*/
		padding-top: 29px;
		letter-spacing: .1px;
		background-color: @galleryBack;

		.hint-gallery {
			position: absolute;
			z-index: 2;
			width: 250px;
			min-height: 250px;
			padding: 85px 51px 75px 52px;
			font: 1.4em Comic Sans MS;
			background-image: url(../img/cloud.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			box-sizing: border-box;
			display: none;
			pointer-events: none;

			&.visible {
				display: block;
			}
		}

		.title-gallery {
			font: 3em @bold;
			color: @titleSlide;
			text-align: center;
			text-transform: uppercase;
		}

		.slider {
			margin-top: 10px;
		}

		.item {

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&-inner {
		padding-top: 18px;
		padding-bottom: 25px;

		.border-line {
			margin-top: 30px;
			margin-bottom: 30px;
			padding-left: 18px;
			color: @blueArrow;
			border-left: 5px @blueArrow solid;
		}

		.column {
			column-count: 2;
			column-gap: 2em;
			-moz-column-count: 2;
			-moz-column-gap: 2em;
			-webkit-column-count: 2;
			-webkit-column-gap: 2em;

			@media (max-width: 767px) {

				column-count: 1;
				-moz-column-count: 1;
				-webkit-column-count: 1;
			}
		}

		.breadcrumbs {

			ul {

				li {
					position: relative;
					display: inline-block;
					font: 13px/28px @regular;
					color: @crumbs;

					&:not(:first-child) {
						padding-left: 7px;
					}

					&:not(:first-child)::before {
						position: absolute;
						left: 0;
						top: 0;
						display: inline;
						font: 13px/28px @regular;
						color: @crumbs;
						content: ' - ';
					}
				}

				a {
					text-decoration: none;
				}

				.home {
					width: 11px;
					height: 10px;
					fill: @crumbHome;
				}
			}
		}

		&__text {
			margin-top: 36px;
			color: @textInner;
			font: 14px/24px @regular;

			.point-image {
				width: 100%;
			}

			.pay-good {
				padding-left: 32px;
				background-image: url(../img/pay.svg);
				background-size: 23px 22px;
				background-position: left center;
				background-repeat: no-repeat;
			}

			.delivery-methods {
				padding-left: 35px;
				background-image: url(../img/methods.svg);
				background-size: 30px 18px;
				background-position: left center;
				background-repeat: no-repeat;
			}

			.delivery-cost {
				padding-left: 32px;
				background-image: url(../img/cost.svg);
				background-size: 23px 21px;
				background-position: left center;
				background-repeat: no-repeat;
			}

			ul {
				list-style-type: none;

				li {
					position: relative;
					padding-left: 14px;

					&:not(:last-child) {
						margin-bottom: 10px;
					}

					&::before {
						position: absolute;
						left: 2px;
						top: calc(~'50% - 2.5px');
						display: block;
						width: 5px;
						height: 5px;
						background-color: @blueArrow;
						border-radius: 50%;
						content: '';
					}
				}
			}
		}

		.quote-image {
			width: 100%;

			@media (max-width: 991px) {

				& {
					width: auto;
				}
			}
		}

		blockquote {
			position: relative;
			padding-left: 40px;
			padding-right: 40px;
			border-left: none;
			font-size: 14px;
			line-height: 24px;
			font-family: @italic;

			&::before {
				position: absolute;
				left: 0;
				top: 10px;
				display: block;
				width: 19px;
				height: 16px;
				background-image: url(../img/quotes.svg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				content: '';
			}
		}

		.top-quotes {
			margin-top: 35px;
		}

		.question-list {

			&__quest {

				&:not(:last-child) {
					margin-bottom: 25px;
				}

				.item-content {
					display: none;
				}

				.view-this {
					position: relative;
					padding-right: 15px;
					font-size: 13px;
					font-family: @regular;
					color: @questName;
					text-decoration: none;
					border-bottom: 1px @questName dashed;

					&::after {
						position: absolute;
						right: 0;
						top: calc(~'50% - 2px');
						display: block;
						width: 7px;
						height: 4px;
						background-image: url(../img/all-quest.svg);
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						content: '';
					}

					&.opened {

						&::after {
							transform: rotate(180deg);
						}
					}
				}

				.title {
					padding-left: 35px;
					font: 16px/24px @semibold;
					color: @colorH3;
					background-image: url(../img/quest-ico.svg);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 25px 22px;
				}

				.data-question {
					padding-left: 35px;

					.quest-cloud {
						margin-top: 6px;
						float: left;
						width: 17px;
						height: 14px;
						fill: @questCloud;
					}

					.name {
						margin-left: 7px;
						float: left;
						font-size: 13px;
						color: @questName;
					}

					.date {
						position: relative;
						margin-left: 7px;
						padding-left: 10px;
						float: left;
						font-size: 13px;
						color: @questDate;

						&::before {
							position: absolute;
							left: 0;
							top: 50%;
							display: block;
							width: 3px;
							height: 3px;
							background-color: @questDate;
							content: '';
						}
					}

					&::after {
						display: block;
						content: '';
						clear: both;
					}
				}

				.quest-repeat {
					margin-top: 11px;
					padding-left: 35px;

					@media (max-width: 767px) {

						& {
							padding-left: 0;
						}
					}

					blockquote {

						&::before {
							top: 4px;
							background-image: url(../img/quotes-ico-blue.svg);
						}

					}
				}

				.answer-block {
					margin-top: 26px;

					&::after {
						display: block;
						content: '';
						clear: both;
					}

					&__img {
						float: left;
						width: 51px;
						opacity: 1;
						visibility: visible;
						transition-property: opacity, visibility;
						transition-duration: 300ms;
						transition-timing-function: linear;

						@media (max-width: 767px) {
							/*float: none;
							margin: 0 auto 20px;*/
							opacity: 0;
							height: 0;
							visibility: hidden;
						}

						img {
							width: 51px;
							height: auto;
						}
					}

					&__text {
						position: relative;
						float: left;
						padding-top: 6px;
						padding-bottom: 10px;
						margin-left: 17px;
						padding-left: 26px;
						border-left: 4px @green solid;
						width: calc(~'100% - 68px');
						box-sizing: border-box;
						background-color: @answerBack;
						font-family: @semibold;

						&::before {
							position: absolute;
							left: -11px;
							top: 22px;
							display: block;
							width: 0;
							height: 0;
							border-top: 5px solid transparent;
							border-right: 10px solid @green;
							border-bottom: 5px solid transparent;
							content: '';
						}

						@media (max-width: 767px) {

							& {
								margin-left: 11px;
								padding-left: 15px;
								padding-right: 15px;
								width: 99%;
							}
						}
					}
				}
			}
		}

		.quest-form {
			margin-top: 70px;
			padding-top: 23px;
			padding-bottom: 40px;
			background-color: @answerBack;
		}

		form.universal {

			.submit-block {
				margin-top: 27px;
			}

			legend {
				border-bottom: none;
				font: 16px/24px @semibold;
				text-transform: uppercase;
			}

			label {
				display: block;
				font: 14px/24px @regular;
				color: @labelQuestForm;

				&.textarea {
					margin-top: 20px;
				}
			}

			input {
				border-radius: 0;
				-webkit-appearance: none;
				box-shadow: none;
				outline: 0;

				&[type=text],
				&[type=email]{
					padding-left: 5px;
					width: 100%;
					height: 33px;
					font: 14px/24px @regular;
					color: @labelQuestForm;
					border: 1px @inputBorder solid;
					box-sizing: border-box;
				}

				&[type=submit] {
					width: 163px;
					height: 47px;
					font: 19px @semibold;
					color: @white;
					background-color: @green;
					border: none;
					cursor: pointer;
					transition: background 300ms linear;

					&:hover {
						background-color: @darkGreen;
					}
				}
			}

			textarea {
				padding-left: 5px;
				padding-top: 5px;
				width: 100%;
				height: 92px;
				font: 14px/24px @regular;
				color: @labelQuestForm;
				resize: none;
				border: 1px @inputBorder solid;
				box-sizing: border-box;
				border-radius: 0;
				-webkit-appearance: none;
				box-shadow: none;
				outline: 0;
			}

			.captcha {

				@media (max-width: 767px) {

					& {

						margin-bottom: 20px;
					}
				}
			}
		}

		&.no-pb {
			padding-bottom: 0;
		}

		.title-contact {
			font: 18px @bold;
			color: @titleSlide;
			text-transform: uppercase;

			span {
				color: @green;
			}
		}

		.contact-form {
			margin-top: 45px;
		}

		.contact-map {
			margin-top: 40px;
			height: 555px;
		}

		.address {
			margin-top: 10px;
			padding-left: 25px;
			color: @addresColor;
			margin-bottom: 0;
			font-family: @semibold;
			font-size: 14px;
			line-height: 24px;
			background-image: url(../img/point.svg);
			background-size: 12px 14px;
			background-position: left center;
			background-repeat: no-repeat;
		}

		.phone {
			padding-left: 25px;
			font-family: @semibold;
			color: @addresColor;
			font-size: 14px;
			line-height: 24px;
			background-image: url(../img/phone-ico.svg);
			background-size: 12px 12px;
			background-position: left center;
			background-repeat: no-repeat;
		}
	}
}

footer {
	padding-top: 14px;
	background-color: @black;

	@media (max-width: 1199px) {

		& {
			position: relative;
			padding-top: 25px;

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				height: 72px;
				width: 100%;
				background-color: @developerBack;
				content: '';
				z-index: 0;
			}
		}
	}

	@media (max-width: 767px) {

		& {
			position: relative;
			padding-top: 25px;

			&::before {
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				height: 163px;
				width: 100%;
				background-color: @developerBack;
				content: '';
				z-index: 0;
			}
		}
	}

	.menu-visible {

		@media (max-width: 1199px) {

			& {
				margin-bottom: 35px;
			}
		}

		@media (max-width: 767px) {

			& {
				margin-bottom: 54px;
			}
		}
	}

	.footer-top {
		padding-bottom: 20px;
	}

	.footer-bottom {
		padding-top: 12px;
		padding-bottom: 12px;
		background-color: @developerBack;

		@media (max-width: 767px) {

			& {
				padding-top: 0;
				padding-bottom: 0;
				margin-top: 10px;
			}
		}

		img {
			width: 106px;
			display: inline-block;
			vertical-align: middle;
		}

		.right-part {
			text-align: right;

			@media (max-width: 767px) {

				& {
					padding-top: 12px;
					padding-bottom: 12px;
					text-align: center;
					background-color: @developerPhone;
				}
			}
		}

		.left-part {

			@media (max-width: 767px) {

				& {
					padding-top: 12px;
					padding-bottom: 12px;
					text-align: center;
					background-color: @developerBack;
				}
			}
		}

		.copyright {
			margin-bottom: 0;
			margin-top: 7px;
			font: 1.3em/1.2em @regular;
			color: @developer;

			@media (max-width: 767px) {

				& {
					margin-top: 3px;
				}
			}
		}

		.developer {
			margin-right: 2%;
			margin-bottom: 0;
			display: inline-block;
			vertical-align: middle;
			font: 1.3em/1.2em @regular;
			color: @developer;

			@media (max-width: 767px) {

				& {
					width: 50%;
					text-align: left;
				}
			}
		}
	}

	.logo-footer {
		padding-right: 0;

		@media (min-width: 768px) and (max-width: 1199px) {

			& {
				text-align: right;
				padding-right: 39px;
			}
		}

		@media (max-width: 767px) {
			& {
				text-align: center;
			}
		}

		img {
			width: 110px;
			height: auto;
		}
	}

	.slogan-footer {
		margin-top: 60px;

		@media (min-width: 992px) and (max-width: 1199px) {

			& {
				margin-top: 43px;
			}
		}

		@media (max-width: 767px) {

			& {
				margin-top: 54px;
			}
		}

		p {
			margin-bottom: 0;

			&:first-child {
				color: @white;
				font: 6.3rem/2.8rem @light;
				text-transform: uppercase;
				text-align: right;
				letter-spacing: .6px;
				word-spacing: -5px;

				span {
					font-family: @bold;
				}

				sup {
					top: -2.5em;
					font-family: @semibold;
					font-size: .3em;
				}

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						text-align: center;
					}
				}
			}

			&:last-child {
				position: relative;
				top: 13px;
				left: 68px;
				font: 1.6em/1.6em @semibold;
				color: @blueArrow;

				@media (min-width: 768px) and (max-width: 1199px) {

					& {
						left: -15px;
						text-align: center;
					}
				}

				@media (max-width: 767px) {

					& {
						left: 0;
					}
				}
			}

			@media (max-width: 767px) {

				& {

					&:first-child,
					&:last-child {
						text-align: center;
					}
				}
			}
		}
	}

	.slogan-subtitle {
		margin-top: 49px;

		p {
			font: 3rem/2.4rem @bold;
			color: @blue;
			text-transform: uppercase;

			span {
				display: block;
			}
		}

		@media (max-width: 767px) {

			& {
				margin-top: 44px;
				text-align: center;
			}
		}
	}

	.footer-menu {
		margin-top: 77px;

		@media (max-width: 1199px) {

			& {
				margin-top: 0;
			}
		}

		ul {
			font-size: 0;
			margin-bottom: 0;

			li {
				width: 25%;
				display: inline-block;

				@media (max-width: 767px) {

					& {
						text-align: center;
					}
				}

				a {
					font-size: 1.6rem;
					line-height: 2.3rem;
					color: @white;
					text-transform: uppercase;
					text-decoration: none;
					outline: none;
					transition: color 300ms linear;

					&:hover {
						color: @orange;
					}
				}
			}
		}
	}

	.footer-phone {
		margin-top: 49px;
		padding-left: 0;

		@media (min-width: 768px) and (max-width: 1199px) {

			& {
				margin-top: 0;
				vertical-align: middle;
			}
		}

		@media (max-width: 767px) {

			& {
				text-align: center;
				margin-top: 22px;
			}
		}

		a {
			position: relative;
			padding-left: 28px;
			font: 2em @semibold;
			color: @white;
			text-decoration: none;
		}

		.telephone {
			position: absolute;
			left: 0;
			top: 0;
			width: 22px;
			height: 23px;
			fill: @blue;
		}

		&__ask {
			margin-top: 30px;
			text-align: right;

			@media (min-width: 768px) and (max-width: 1199px) {

				& {
					margin-top: -9px;
					margin-left: 2%;
					display: inline-block;
					vertical-align: middle;
				}
			}

			@media (max-width: 767px) {

				& {
					margin-top: 21px;
					text-align: center;
				}
			}
		}

		a.ask-link {
			position: relative;
			font: 1.4em @semibold;
			color: @white;
			text-decoration: none;
			border-radius: 11px;
			padding: 2px 11px 0 30px;
			background-color: @orange;
			transition: background 300ms linear;

			&:hover {
				background-color: @submitHover;
			}

			svg {
				position: absolute;
				left: 6px;
				top: calc(~'50% - 8px');
				width: 23px;
				height: 16px;
				fill: @white;
			}
		}
	}
}

.hint-block {
	position: absolute;
	z-index: 11;
	padding: 51px 27px 41px 46px;
	display: none;
	width: 219px;
	height: 154px;
	font: 1.4em/1.2em Comic Sans MS, Comic Sans, Chalkboard, "ChalkboardSE-Regular", sans-serif;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;

	&.visible--hint {
		display: block;
	}

	&.hint--games {
		background-image: url(../img/cloud-games.svg);
	}

	@media (max-width: 767px) {

		& {
			width: 190px;
			height: 175px;
		}
	}
}

.preloader {
	position: fixed;
	z-index: 140;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	opacity: 1;
	visibility: visible;
	background-color: @white;
	transition: opacity 1s ease, visibility 1s ease;

	.spinner {
		width: 400px;
		height: 208px;
		background-image: url(../img/preloader.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: calc(~'50% - 104px');
		left: calc(~'50% - 200px');
		transition: visibility 3s ease;

		&.slow {
			visibility: hidden;
		}
	}

	&.slow {
		opacity: 0;
		visibility: hidden;
	}
}

.overlay {
	position: fixed;
	z-index: 102;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: fade(@black, 70%);
	visibility: hidden;
	opacity: 0;
	transition-property: visibility, opacity;
	transition-duration: 300ms, 300ms;
	transition-timing-function: linear;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}



.popup {
	position: fixed;
	z-index: 103;
	padding: 9px 10px 12px 13px;
	max-width: 555px;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	background-color: @white;
	box-shadow: 0 0 16px 0 fade(@black, 68%);
	transition-property: visibility, opacity;
	transition-duration: 300ms, 300ms;
	transition-timing-function: linear;

	&.visible {
		visibility: visible;
		opacity: 1;
	}

	&__content {
		padding-top: 36px;
		padding-bottom: 11px;
		margin-top: 10px;
		border: 1px @borderCatalogItem solid;
		text-align: center;
		font: 1.6em/2.4em @semibold;

		button {
			width: 145px;
			height: 38px;
			border-radius: 3px;
			background-color: @blueArrow;
			color: @white;
			font: 15px @regular;
			border: none;
			text-transform: uppercase;
			transition: background 500ms linear;

			&:hover {
				background-color: @blueLight;
			}
		}
	}

	a {
		text-decoration: underline;
		color: @blueArrow;
	}

	&-add-cart {

		&__content {

			p {
				margin-bottom: 29px;
			}
		}
	}

	&__header {

		&::after {
			display: block;
			clear: both;
			content: '';
		}

		.close-popup {
			margin-top: 9px;
			margin-right: 2px;
			float: right;

			svg {
				width: 32px;
				height: 32px;
				cursor: pointer;
				opacity: 1;
				transition: fill 300ms linear;

				&:hover {
					fill: @closeHover;
				}
			}
		}
	}

	&__logo {
		width: 45px;
		float: left;

		img {
			width: 100%;
		}
	}

	&__logo-text {
		margin-top: 5px;
		float: left;
		margin-left: 12px;

		p {
			margin-bottom: 0;

			&:first-child {
				font: 35px/38px @light;
				color: @black;
				text-transform: uppercase;
				letter-spacing: -1px;
			}

			&:last-child {
				margin-left: 7px;
				font: 9px/9px @semibold;
				color: @gray;
			}

			span {
				font-family: @semibold;

			}

			sup {
				font-size: 11px;
				top: -2em;
			}
		}
	}
}

.popup-composition {
	max-width: 790px;
	position: absolute;
	left: 0;
	top: 0;


	&__content {
		text-align: left;
		padding-top: 20px;
		padding-left: 19px;
		padding-right: 19px;

		p {
			margin-bottom: 0;
			font: 14px/24px @regular;
			color: @introtext;
		}

		.bold {
			font: 16px/24px @semibold;
			color: @colorH3;
		}

		button {
			display: block;
			margin: 20px auto 0;
		}

		table {
			margin-top: 10px;
			margin-bottom: 20px;
			width: 100%;
			border: 1px @tableBorder solid;

			thead {

				tr {
					td {
						border-bottom: 1px @tableBorder solid;
						background-color: @answerBack;
					}
				}
			}

			tbody {

				td {
					color: @thead2;
				}
			}

			tr {
				background-color: @answerBack;

				&:not(:last-child) {
					border-bottom: 1px @tableBorder solid;
				}

				&:nth-of-type(odd) {
					background-color: @white;
				}
			}

			td {
				padding: 5px;
				font-size: 14px;
				line-height: normal;
				font-family: @regular;

				&:not(:first-child) {
					border-left: 1px @tableBorder solid;
				}
			}
		}
	}

}