include includes/head
include includes/header
include includes/address
include includes/footer
include includes/scripts
extends includes/layout
block head

    +head('Корзина')
block content

    +header()

    +address()

block footer

    +footer()

    +scripts()