include includes/head
include includes/header
include includes/cart-three
include includes/footer
include includes/scripts
extends includes/layout
block head

    +head('Корзина Адреса')

block content

    +header()

    +cart-three()

block footer

    +footer()

    +scripts()
