include includes/head
include includes/header
include includes/cart-one
include includes/footer
include includes/scripts
extends includes/layout

block head

    +head('Корзина')

block content

    +header()

    +cart-one()

block footer

    +footer()

    +scripts()
