include includes/head
include includes/header
include includes/cart-four
include includes/footer
include includes/scripts
extends includes/layout
block head

    +head('Корзина')

block content

    +header()

    +cart-four()

block footer

    +footer()

    +scripts()
