include includes/head
include includes/header
include includes/content_one
include includes/footer
include includes/scripts
include includes/popup-add-cart

extends includes/layout

block head
   +head('Главная')

block content
   +header()

   +content_one()

block footer

   +footer()

   +scripts()

   +popup-add-cart()
