include includes/head
include includes/header
include includes/content
include includes/footer
include includes/scripts
include includes/popup-add-cart
include includes/popup-composition

extends includes/layout

block head
   +head('Главная')

block content
   +header()

   +content()

block footer

   +footer()

   +scripts()

   +popup-add-cart()

   +popup-composition()
