include breadcrumbs
include steps
   
mixin cart-three()
    .content-inner.js-content
        .container
            +breadcrumbs('Корзина')
            h1 Адреса
            +steps()
            .cart-delivery-data
               form
                  label Выберите адрес доставки
                  .wrapper-select
                      select.js-cart-select
                         option Мой адрес
                         option  Москва
                         option  Тамбов
                         option  Кёльн
                  input(type="checkbox" id="check")
                  label(for="check").select-address    Использовать этот же адрес для оплаты заказа
                .cart-delivery-data__forms
                    .row
                        .col-md-6
                            .form-wrapper
                                form
                                    legend  Адрес доставки
                                    .form-wrapper__table
                                        article
                                            section
                                                ul
                                                    li  Jonn Smit
                                                ul
                                                    li  Москва, Краснопресненская набережная, 14
                                                ul
                                                    li  101000 Москва
                                                ul
                                                    li  Россия
                                                ul
                                                    li  +3 (800) - 123-45-67
                                        button.refresh  Обновить
                        .col-md-6
                            .form-wrapper
                                form
                                    legend  Адрес оплаты
                                    .form-wrapper__table
                                        article
                                            section
                                                ul
                                                    li  Jonn Smit
                                                ul
                                                    li  Москва, Краснопресненская набережная, 14
                                                ul
                                                    li  101000 Москва
                                                ul
                                                    li  Россия
                                                ul
                                                    li  +3 (800) - 123-45-67
                                        button.refresh  Обновить
                    input(type="submit" value="Добавить новый адрес")
                p Если хотите добавить комментарий к заказу, пожалуйста, напишите его ниже.
                .row
                    .col-md-12
                        textarea
                .dop-info
                    ul
                        li
                            .more-buy
                                a(href="javascript:void(0)")   < Продолжить покупки
                        li
                            .checkout
                                input(type="submit" value="Оформить")


