mixin cart-good()
   .cart-goods
      article.good-list
         header
            ul
               li
               li  Название
               li  Цена
               li  Количество
               li  Итого
               li  Удалить
         section
            ul
               li: a(href="javascript:void(0)"):   img(src="../img/good.jpg").good
               li
                  .vita-logo
                     p  Vita -
                        = ' '
                        span  Y
                        sup  &reg;
                  p.name-good.js-title-good   Тake me before work
               li
                  p.price 120 &euro;
               li
                  .counter-cart
                     button  -
                     input(type="text" value=1)
                     button  +
               li
                  p.result    240 &euro;
               li
                  +svg('close-cart')
            ul
               li: a(href="javascript:void(0)"):   img(src="../img/good.jpg").good
               li
                  .vita-logo
                     p  Vita -
                        = ' '
                        span  Y
                        sup  &reg;
                  p.name-good.js-title-good   Тake me before work
               li
                  p.price 120 &euro;
               li
                  .counter-cart
                     button  -
                     input(type="text" value=1)
                     button  +
               li
                  p.result    240 &euro;
               li
                  +svg('close-cart')
      .cart-footer
         p   Всего товаров (с НДС 7%): 600 &euro;
         p   Итого доставка (с налогами): 49 &euro;