include breadcrumbs
include steps
include cart-good

mixin cart-one()
    .content-inner.js-content
        .container
            +breadcrumbs('Корзина')
            h1 Ваша корзина
            +steps()
            +cart-good()
            .dop-info
                ul
                    li
                        .coupone
                            label   Код купона на скидку
                            input(type="text")
                            input(type="submit" value="Пересчитать")
                            a(href="javascript:void(0)")    Нет купона?
                    li
                        .total  Итого
                            span    649 &euro;
                    li
                        .more-buy
                            a(href="javascript:void(0)")   < Продолжить покупки
                    li
                        .checkout
                            input(type="submit" value="Оформить")
