mixin catalog()
   section#catalog-list
      .catalog
         .container
            .row
               .col-md-12
                  .title-wrapper
                     p.title-catalog  Vita
                        span  - Y
                        sup   &reg;
                     p.subtitle-catalog  Aktiv Komplex
            .catalog__list
               .row
                  .col-md-6.col-sm-6
                     .catalog__list__item
                        img(src="../img/good.jpg")
                        .catalog__list__item__description
                           a(href="javascript:void(0)").title-good   Таке me
                              span  before
                              |  work
                           p.subtitle-good   AKTIV KOMPLEX
                           .catalog__list__item__description__introtext
                              p  Ausgewogene Vitamine, Mineralstoffe und Spurenelemente
                                 |  Nimm diese Knospen vor der Arbeit, basierend auf deiner Einschätzung, wie viel dein Arbeitstag von dir fordern wird.
                           .catalog__list__item__description__buttons
                              form
                                 .counter-good
                                    button.decrement -
                                    input(type="text" value="1")
                                    button.increment +
                                 .add-good
                                    input(type="submit" value="Add to cart").js-add-good
                           a(href="javascript:void(0)").composition.js-composition-link  Состав продукта
                  .col-md-6.col-sm-6
                     .catalog__list__item
                        img(src="../img/good-2.jpg")
                        .catalog__list__item__description
                           a(href="javascript:void(0)").title-good   Таке me
                              span  before
                              |  work
                           p.subtitle-good   AKTIV KOMPLEX
                           .catalog__list__item__description__introtext
                              p  Ausgewogene Vitamine, Mineralstoffe und Spurenelemente
                                 |  Nimm diese Knospen nach der Arbeit, je nachdem ob dein Feierabend ruhig wird oder eher aufregend.
                           .catalog__list__item__description__buttons
                              form
                                 .counter-good
                                    button.decrement -
                                    input(type="text" value="1")
                                    button.increment +
                                 .add-good
                                    input(type="submit" value="Add to cart").js-add-good
                           a(href="javascript:void(0)").composition.js-composition-link  Состав продукта
            .catalog__cart-link
               a(href="javascript:void(0)")  Go to shopping cart
