include breadcrumbs

mixin delivery()
   .content-inner.js-content
      .container
         +breadcrumbs('Доставка')
         h1 Доставка
         .content-inner__text
            .row
               .col-md-12
                  h3.pay-good  Оплата товара
                  p  Мы принимаем оплату заказов по безналичному расчёту
                  p  На заказанные товары Вам будет отправлен счет на оплату по электронной почте.
                  h3.delivery-methods  Способы доставки
                  p.bold   Получение товара в Москве возможно тремя способами:
                  ul
                     li Самовывоз со склада Интернет-магазина (м. Пролетарская);
                     li Курьером в пределах МКАД (товары до 10 кг);
                     li Курьером на а/м в пределах МКАД (товары свыше 10 кг, но не более 1,5 м в длину)
                  p.bold   Доставка регионы РФ:
                  p Товары доставляются транспортными компаниями: "Байкал-Сервис", "Автотрейдинг", "Деловые линии" и др.
                  h3.delivery-cost  Стоимость доставки
                  p.bold   Доставка по Москве возможна двумя способами:
                  ul
                     li самовывоз со склада Интернет-магазина (м. Пролетарская) - бесплатно;
                     li
                        span.color Курьером
                        |  в пределах МКАД (товары до 10 кг); -
                        span.color  350 р.
                     li Стоимость доставки курьером на а/м по Москве - 1000 руб.
                  p.bold   Доставка в регионы:
                  p Стоимость услуг транспортной компании (забор товара с нашего склада и доставка в город покупателя) - зависит от веса и объёма груза.
                  p.extra  Оплата услуг транспортно-экспедиционной компании ("Автотрейдинг", "Байкал-Сервис", "Деловые Линии") производится при получении товара на складе транспортной компании в вашем городе.
