mixin gallery()
   section#gallery-block
      .gallery
         .container
            p.title-gallery   satisfied customers
         .galley__slider.slider.js-gallery
            .galley__slider__item.item
               a(href="../img/gallery-1.jpg")
                  img(src="../img/gallery-1.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-2.jpg")
                  img(src="../img/gallery-2.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-3.jpg")
                  img(src="../img/gallery-3.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-4.jpg")
                  img(src="../img/gallery-4.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-5.jpg")
                  img(src="../img/gallery-5.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-6.jpg")
                  img(src="../img/gallery-6.jpg")
            .galley__slider__item.item
               a(href="../img/gallery-4.jpg")
                  img(src="../img/gallery-4.jpg")