mixin gallery()
   section#gallery-block
      .gallery
         .hint-gallery.js-gallery-hint
         .container
            p.title-gallery   satisfied customers
         .gallery__slider.slider.js-gallery
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy!")
               img(src="../img/gallery-1.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 1")
               img(src="../img/gallery-2.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 2")
               img(src="../img/gallery-3.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 3")
               img(src="../img/gallery-4.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 4")
               img(src="../img/gallery-5.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 5")
               img(src="../img/gallery-6.jpg")
            .galley__slider__item.item.js-hint-gallery(data-hint="Very good preparation. I'm full of energy! 6")
               img(src="../img/gallery-4.jpg")