mixin games()
   section#games
      .games
         .container
            p.title-games  Fold in the box
               +svg('hand-ico')
               |  of your problems
            .games__tap-block
               .row
                  .col-md-6
                     .games__tap-block__at-work
                        p.title  At work
                        .list-loads
                           .list-loads__item
                              .big-square-load.elem.js-elem
                              .list-loads__item__mini
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .two-square-load.elem.js-elem
                              .clear
                           .list-loads__item
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
                  .col-md-6
                     .games__tap-block__at-home
                        p.title  At Home
                        .list-loads
                           .list-loads__item
                              .big-square-load.elem.js-elem
                              .list-loads__item__mini
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .square-load.elem.js-elem
                                 .two-square-load.elem.js-elem
                              .clear
                           .list-loads__item
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
                              .square-load.elem.js-elem
