include breadcrumbs

mixin guarantie()
   .content-inner.js-content
      .container
         +breadcrumbs('Гарантия')
         h1 Гарантия
         .content-inner__text
            .row
               .col-md-12
                  h3 Сервис и качество обслуживания
                  p chung der Referenzmaterialien sind ebenfalls erhältlich (5) parallel zur wörtliche Übersetzung des Textes. Die wörtliche Übersetzung - ist ein besonderes "Highlight des Programms." Er brauchte lvnoy Übungen zu teilen, die die Make-up "Technologie Entwicklung einer Fremdsprache." Diese Übersetzung dosloven wörtlich: jedes deutsche Wort genau eine russische entspricht, obwohl einige russische Worte aussehen ist nicht sehr üblich. Diese ungewöhnlichen Wörter werden nach und nach eingeführt und sind in den weiteren Kommentare in den ersten vier Paketen enthaltenen erläutert.
                  h3 Гарантия продавца
                  img(src="../img/guarantie.jpg" width=165).float-left
                  p  chung der Referenzmaterialien sind ebenfalls erhältlich (5) parallel zur wörtliche Übersetzung des Textes. Die wörtliche Übersetzung - ist ein besonderes "Highlight des Programms." Er brauchte lvnoy Übungen zu teilen, die die Make-up "Technologie Entwicklung einer Fremdsprache." Diese Übersetzung dosloven wörtlich: jedes deutsche Wort genau eine russische entspricht, obwohl einige russische Worte aussehen ist nicht sehr üblich. Diese ungewöhnlichen Wörter werden nach und nach eingeführt und sind in den weiteren Kommentare in den ersten vier Paketen enthaltenen erläutert.
                     |  Alle Erklärungen sind auch in der Datei "Symbole" zur Verfügung. Verweise auf externe Quellen sind in Klammern angegeben. Externe Links zu literarischen Übersetzungen werden in HTLM-Dateien mit parallelen Texte gegeben. chung der Referenzmaterialien sind ebenfalls erhältlich (5) parallel zur wörtliche Übersetzung des Textes. Die wörtliche Übersetzung - ist ein besonderes "Highlight des Programms." Er brauchte lvnoy Übungen zu teilen, die die Make-up "Technologie Entwicklung einer Fremdsprache." Diese Übersetzung dosloven wörtlich: jedes deutsche Wort genau eine russische entspricht, obwohl einige russische Worte aussehen ist nicht sehr üblich. Diese ungewöhnlichen Wörter werden nach und nach eingeführt und sind in den weiteren Kommentare in den ersten vier Paketen enthaltenen erläutert. Alle Erklärungen sind auch in der Datei "Symbole" zur Verfügung. Verweise auf externe Quellen sind in Klammern angegeben. Externe Links zu literarischen Übersetzungen werden in HTLM-Dateien mit parallelen Texte gegeben.
                  p.border-line   Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren
                  h3 Отдел контроля качества товара и обслуживания
                  p.bold-gray Телефон для обращений по вопросам обмена/возврата товара:  8 (495) 783-80-11 доб. 2
                  p.bold-gray с 12:00 до 18:00 с Понедельника по Пятницу
                  p.bold-gray Суббота, Воскресенье - выходной день.
                  br
                  p.bold-gray  При звонке, пожалуйста, приготовьтесь назвать номер вашего заказа и предоставить развернутую информацию о проблеме. Спасибо!
                  a(href="mailto:support@telephonex.ru") support@telephonex.ru