
mixin header()
   header
      .burger.js-burger.out
         button
            span
      .logo
         a(href="javascript:void(0)")
            img(src="../img/logo.png")
         .logo__text
            p  Vita -
               = ' '
               span  Y
               sup  &copy;
            p  Harmonize your life
      .cart-header
         .cart-header__data
            p.count  Cart:
               span  3 item
            p.sum 120 &euro;
      .language-link
         a(href="javascript:void(0)").active  Deutch
         a(href="javascript:void(0)")  English
         a(href="javascript:void(0)")  Русский




