mixin head(title)
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title   #{title}
    link(rel="stylesheet",href="../css/normalize.css")
    link(rel="stylesheet",href="../css/libs/bootstrap/bootstrap.min.css")
    link(rel="stylesheet",href="../css/libs/slick/slick.css")
    link(rel="stylesheet",href="../css/libs/animate.css/animate.min.css")
    link(rel="stylesheet",href="../css/style.css")
    script(src="../js/modernizr.custom.js")