mixin man-slider()
   section#vigdorovich
      .man-slider.js-man-slider
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.left.js-animate.one
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.green  If we take the best of nature ...
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  img(src="../img/vidgorovich-one.png").big
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.animated.left
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.green  If we take the best of nature ...
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  .slider-man__desc__text.right.js-animate
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.blue  ... And the best of science
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  img(src="../img/vidgorovich-two.png").big
         .slide-man.js-slide
            .container
               .slider-man__desc
                  .slider-man__desc__text.animated.left.js-animate
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.green  If we take the best of nature ...
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  .slider-man__desc__text.animated.right.js-animate
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.blue  ... And the best of science
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  img(src="../img/vidgorovich-tree.png").big.js-big
                  img(src="../img/hand.png").hand.js-hand
                  img(src="../img/plant.png").plant.sphere.js-plant
                  img(src="../img/science.png").science.sphere.js-science
                  .wrapper-animate
                     img(src="../img/step-1.png").js-step
                     img(src="../img/step-2.png").js-step
                     img(src="../img/step-3.png").js-step
                     img(src="../img/step-4.png").js-step
                     img(src="../img/step-5.png").js-step
         .slide-man
            .container
               .static-image.js-height-slide
                  img(src="../img/step-4.png").sphere.js-zoom
                  img(src="../img/step-5.png").plant.js-zoom
                  .capsule-wrap
                     img(src="../img/capsule-left.png").capsule.left.js-capsule
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                  .counter.counter-yellow.js-animate-capsule
                     span.js-count-yellow   0
                     p  capsule
                  .capsule-wrap
                     img(src="../img/capsule-right.png").capsule.right.js-capsule
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                  .counter.counter-blue.js-animate-capsule
                     span.js-count-blue   0
                     p  capsule
                  img(src="../img/bottle-left.png").bottle.left.js-bottle
                  img(src="../img/bottle-right.png").bottle.right.js-bottle

