mixin man-slider()
   section#vigdorovich
      .man-slider.js-man-slider
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.left.js-animate.one
                     p.title  AKTIV KOMPLEX
                     p.subtitle  Pflanzliche Rohstoffe aus unberührter Natur
                     p.color.green  Wir nehmen das Beste aus der Natur...
                     p.inner-text   Wir nutzen Pflanzen aus der unberührten Natur, die im Gegensatz zu Agrarkulturen und Züchtungen noch über die ursprüngliche Reinheit an Vitaminen, Mineralstoffen und Spurenelementen verfügen.
                  img(src="../img/vidgorovich-one.png").big
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.animated.left
                     p.title  AKTIV KOMPLEX
                        p.subtitle  Pflanzliche Rohstoffe aus unberührter Natur
                        p.color.green  Wir nehmen das Beste aus der Natur...
                        p.inner-text   Wir nutzen Pflanzen aus der unberührten Natur, die im Gegensatz zu Agrarkulturen und Züchtungen noch über die ursprüngliche Reinheit an Vitaminen, Mineralstoffen und Spurenelementen verfügen.
                  .slider-man__desc__text.right.js-animate
                     p.title  AKTIV KOMPLEX
                     p.subtitle  Ausgewogene Vitamine, Mineralstoffe und Spurenelemente
                     p.color.blue  .. und das Beste aus der Wissenschaft
                     p.inner-text   Kombiniert mit dem Besten der Wissenschaft, gibt unser Produkt dir die natürliche, tägliche Balance deines Körpers zurück.
                  img(src="../img/vidgorovich-two.png").big
         .slide-man.js-slide
            .container
               .slider-man__desc
                  .slider-man__desc__text.visible.left.js-animate
                     p.title  AKTIV KOMPLEX
                     p.subtitle  Pflanzliche Rohstoffe aus unberührter Natur
                     p.color.green  Wir nehmen das Beste aus der Natur...
                     p.inner-text   Wir nutzen Pflanzen aus der unberührten Natur, die im Gegensatz zu Agrarkulturen und Züchtungen noch über die ursprüngliche Reinheit an Vitaminen, Mineralstoffen und Spurenelementen verfügen.
                  .slider-man__desc__text.visible.right.js-animate
                     p.title  AKTIV KOMPLEX
                     p.subtitle  Ausgewogene Vitamine, Mineralstoffe und Spurenelemente
                     p.color.blue  .. und das Beste aus der Wissenschaft
                     p.inner-text   Kombiniert mit dem Besten der Wissenschaft, gibt unser Produkt dir die natürliche, tägliche Balance deines Körpers zurück.
                  img(src="../img/vidgorovich-tree.png").big.js-big
                  img(src="../img/hand.png").hand.js-hand
                  img(src="../img/plant.png").plant.sphere.js-plant
                  img(src="../img/science.png").science.sphere.js-science
                  .wrapper-animate
                     img(src="../img/step-1.png").js-step
                     img(src="../img/step-2.png").js-step
                     img(src="../img/step-3.png").js-step
                     img(src="../img/step-4.png").js-step
                     img(src="../img/step-5.png").js-step
         .slide-man
            .container
               .static-image.js-height-slide
                  img(src="../img/step-4.png").sphere.js-zoom
                  img(src="../img/step-5.png").plant.js-zoom
                  .capsule-wrap
                     img(src="../img/capsule-left.png").capsule.left.js-capsule
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                     img(src="../img/caps-small-yellow.png").yellow-capsule.js-yellow
                  .counter.counter-yellow.js-animate-capsule
                     span.js-count-yellow   0
                     p  capsule
                  .capsule-wrap
                     img(src="../img/capsule-right.png").capsule.right.js-capsule
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                     img(src="../img/caps-small-blue.png").blue-capsule.js-blue
                  .counter.counter-blue.js-animate-capsule
                     span.js-count-blue   0
                     p  capsule
                  img(src="../img/bottle-left.png").bottle.left.js-bottle
                  img(src="../img/bottle-right.png").bottle.right.js-bottle

