mixin man-slider()
   section#vigdorovich
      .man-slider.js-man-slider
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.left.js-animate.one
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.green  If we take the best of nature ...
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  img(src="../img/vidgorovich-one.png").big
         .slide-man
            .container
               .slider-man__desc
                  .slider-man__desc__text.right.js-animate.two
                     p.title  Vitamin - complex
                     p.subtitle  mid Widpflanzer Extrakten und Mineralstoffen
                     p.color.blue  ... And the best of science
                     p.inner-text   SEO TEXT Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и
                  img(src="../img/vidgorovich-two.png").big
         .slide-man
            .container
               .slider-man__desc
                  img(src="../img/vidgorovich-tree.png").big.js-big
                  img(src="../img/hand.png").hand.js-hand
                  img(src="../img/plant.png").plant.sphere.js-plant
                  img(src="../img/science.png").science.sphere.js-science
