mixin popup-add-cart()
   .overlay.js-overlay
   .popup-add-cart.popup.js-popup-cart
      .popup__header
         .popup__logo
            img(src="../img/logo.png")
         .popup__logo-text
            p  Vita -
               = ' '
               span  Y
               sup  &copy;
            p  Harmonize your life
         .close-popup.js-close-cart
            +svg('close')
      .popup-add-cart__content.popup__content
         p Ваш товар добавлен в корзину и обрабатывается
         button.js-close-cart   Ок
