mixin popup-composition()
   .popup-composition.popup.js-composition
      .popup__header
         .popup__logo
            img(src="../img/logo.png")
         .popup__logo-text
            p  Vita -
               = ' '
               span  Y
               sup  &copy;
            p  Harmonize your life
         .close-popup.js-close-cart
            +svg('close')
      .popup-composition__content.popup__content
         p.bold Состав продукта
         p  Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и гормонов. Несмотря на исключительную важность витаминов в обмене веществ.
         p.bold   Пример таблицы
         table
            thead
               tr
                  td №
                  td Вид
                  td Срок действия
                  td Количество выездов на техобслуживание
            tbody
               tr
                  td п.п.
                  td контракта
                  td Wiessmann, Vaillant, Wolf, Rapido до 70 квт.
                  td Beretta, Baxi и т.п. до 70 квт.
               tr
                  td 1
                  td 2
                  td 3
                  td 4
               tr
                  td(colspan=6)  Напольные газовые (жидкотопливные) котлы
               tr
                  td 1
                  td Базовый
                  td 1 год
                  td 2 ТО
         p Витамины осуществляют каталитическую функцию в составе активных центров разнообразных ферментов, а также могут участвовать в гуморальной регуляции в качестве экзогенных прогормонов и гормонов. Несмотря на исключительную важность витаминов в обмене веществ, они не являются ни источником энергии для организма (не обладают калорийностью), ни структурными компонентами тканей.
         button.js-close-cart   Ок