include breadcrumbs

mixin questions()
    .content-inner.no-pb.js-content
        .container
            +breadcrumbs('Вопрос-ответ')
            h1 Вопрос-Ответ
            .content-inner__text
               .question-list
                   .question-list__quest
                       .question-list__quest__inner
                            p.title.js-title  Сколько нужно принимать капсул ?
                            .item-content.js-inner
                                .data-question
                                    +svg('quest-cloud')
                                    .name  Маша Иванова
                                    .date  12 Марта 2016 г.
                                .quest-repeat
                                    blockquote  Текст Вопроса. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in
                                .answer-block
                                    .answer-block__img
                                        img(src="../img/logo.png")
                                    .answer-block__text
                                        p   Текст Ответа. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers:
                       a(href="javascript:void(0)").view-this.js-view-this   Показать ответ
                   .question-list__quest
                       .question-list__quest__inner
                           p.title.js-title  Как долго можно принимать капсулы и будут ли какие нибудь последствия ?
                           .item-content.js-inner
                               .data-question
                                   +svg('quest-cloud')
                                   .name  Маша Иванова
                                   .date  12 Марта 2016 г.
                               .quest-repeat
                                   blockquote  Текст Вопроса. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in
                               .answer-block
                                   .answer-block__img
                                       img(src="../img/logo.png")
                                   .answer-block__text
                                       p   Текст Ответа. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers:
                       a(href="javascript:void(0)").view-this.js-view-this   Показать ответ
                   .question-list__quest
                       .question-list__quest__inner
                           p.title.js-title  Сколько нужно принимать капсул ?
                           .item-content.js-inner
                               .data-question
                                   +svg('quest-cloud')
                                   .name  Маша Иванова
                                   .date  12 Марта 2016 г.
                               .quest-repeat
                                   blockquote  Текст Вопроса. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in
                               .answer-block
                                   .answer-block__img
                                       img(src="../img/logo.png")
                                   .answer-block__text
                                       p   Текст Ответа. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers:
                       a(href="javascript:void(0)").view-this.js-view-this   Показать ответ
                   .question-list__quest
                       .question-list__quest__inner
                           p.title.js-title  Сколько нужно принимать капсул ?
                           .item-content.js-inner
                               .data-question
                                   +svg('quest-cloud')
                                   .name  Маша Иванова
                                   .date  12 Марта 2016 г.
                               .quest-repeat
                                   blockquote  Текст Вопроса. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in
                               .answer-block
                                   .answer-block__img
                                       img(src="../img/logo.png")
                                   .answer-block__text
                                       p   Текст Ответа. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers:
                       a(href="javascript:void(0)").view-this.js-view-this   Показать ответ
                   .question-list__quest
                       .question-list__quest__inner
                           p.title.js-title  Сколько нужно принимать капсул ?
                           .item-content.js-inner
                               .data-question
                                   +svg('quest-cloud')
                                   .name  Маша Иванова
                                   .date  12 Марта 2016 г.
                               .quest-repeat
                                   blockquote  Текст Вопроса. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in
                               .answer-block
                                   .answer-block__img
                                       img(src="../img/logo.png")
                                   .answer-block__text
                                       p   Текст Ответа. Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers: Kann dir dein Körper sagen, was in der Zukunft passieren wird (произойдет)? Manche glauben, wenn es irgendwo juckt, wenn man hickst oder hustet, dann versucht uns der Körper damit zu sagen, was geschehen wird. Hier einige Übersetzungen der Sprache des Körpers:
                       a(href="javascript:void(0)").view-this.js-view-this   Показать ответ
        .quest-form
            .container
                form.universal
                    fieldset
                        legend  Задать свой вопрос
                        .row
                            .col-md-3.col-sm-6
                                label   Ваше имя
                                input(type="text")
                            .col-md-3.col-sm-6
                                label   E-mail
                                input(type="email")
                        .row
                            .col-md-12
                                label.textarea   Сообщение
                                textarea
                        .submit-block
                            .row
                                .col-md-2.col-sm-2
                                    .captcha
                                        |   Сюда вставить капчу
                                .col-md-3.col-sm-3
                                    input(type="submit" value="Отправить")
