mixin scripts()
   script(src="http://code.jquery.com/jquery-2.1.4.min.js")
   script(type='text/javascript')   window.jQuery || document.write('<script src="../js/jquery-2.1.4.min.js"><\/script>');
   script(src="../js/libs/bootstrap/bootstrap.min.js")
   script(src="../js/libs/slick/slick.min.js")
   script(src="../js/libs/jquery-lazyload/jquery.lazyload.js")
   script(src="../js/libs/jquery.inputmask/inputmask/inputmask.js")
   script(src="../js/libs/jquery-ui/jquery-ui.min.js")
   script(src="../js/libs/fancybox/jquery.fancybox.pack.js")
   script(src="../js/script.js")