mixin steps()
   .cart-steps
      .cart-steps__item.step-one.active--step.js-step
         .image-step
            img(src="../img/step-1-cart.png").abstract
            img(src="../img/step-1-foot.png").foot
         .number-step
            span    1
         .title-step
            p   Сводка
      .cart-steps__item.step-two.active--step.js-step
         .image-step
            img(src="../img/step-2-cart.png").abstract
            img(src="../img/step-2-foot.png").foot
         .number-step
            span    2
         .title-step
            p   Войти
      .cart-steps__item.step-three.js-step
         .image-step
            img(src="../img/step-3-cart.png").abstract
            img(src="../img/step-3-foot.png").foot
         .number-step
            span    3
         .title-step
            p   Адрес
      .cart-steps__item.step-four.js-step
         .image-step
            img(src="../img/step-4-cart.png").abstract
            img(src="../img/step-4-foot.png").foot
         .number-step
            span    4
         .title-step
            p   Доставка
      .cart-steps__item.step-five.js-step
         .image-step
            img(src="../img/step-5-cart.png").abstract
         .number-step
            span    5
         .title-step
            p   Оплата