mixin top-slider()
   .top-slider.js-top-slider
      .slide
         img(src="../img/slide-top.jpg")
         .container
            .slide__item
               p.cloud.animated.fadeInRight  Текст текст текст текс
      .slide(style="background-image: url(../img/slide-top.jpg)")
         .container
            .slide__item
               p.cloud(data-in="left" data-out="left" data-step=0 data-position="100,150")  Текст текст текст текс
