mixin top-slider()
   section#header-slider
      .top-slider.js-top-slider
         .slide
            img(src="../img/slide-top-1.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-2.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-3.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-4.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-5.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-6.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-7.jpg")
            //-.container
               .slide__item
                  .cloud.js-cloud
                     p.first  Woke up too late? Not enough time for a relaxed morning? No breakfast?
                     p.last  Woke up too late? Not enough time for a relaxed morning?  No breakfast?
         .slide
            img(src="../img/slide-top-8.jpg")
         .slide
            img(src="../img/slide-top-9.jpg")
         .slide
            img(src="../img/slide-top-10.jpg")
         .slide
            img(src="../img/slide-top-11.jpg")
         .slide
            img(src="../img/slide-top-12.jpg")
         .slide
            img(src="../img/slide-top-13.jpg")
